<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/public.css?t={:time()}">
<link rel="stylesheet" href="__PUBLIC__/Home/css/swiper.min.css">
<script src="__PUBLIC__/Home/js/jquery-3.1.1.min.js"></script>
<script src="__PUBLIC__/Home/js/swiper.min.js"></script>
<script src="__PUBLIC__/Home/js/public.js"></script>
<script src="__PUBLIC__/Home/js/fastClick.js"></script>
<script src="__PUBLIC__/Home/js/common.js"></script>
<script src="__PUBLIC__/Plugs/jq/mob-jq-dialog.js"></script>